.card {
  width: 340px;
  height: 510px;
  background: var(--white);
  border-radius: 15px;
}

.card img {
  margin: 12px;
  width: 312px;
  height: 312px;
  border-radius: 10px;
}

.card  h1.titulo {
  color: var(--dark-blue);
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  margin: 0 30px;
}

.card  p.descricao {
  color: var(--grayish-blue);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 15px 30px 0px 30px;
}